# WAJIB gunakan port 6543 (Transaction pooler) dengan akhiran pgbouncer=true dan connection_limit=1 untuk Vercel Serverless
DATABASE_URL="postgres://[db-user]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# WAJIB gunakan port 5432 (Session/Direct) untuk directUrl (dipakai Prisma Migrate)
DIRECT_URL="postgres://[db-user]:[password]@aws-0-[region].pooler.supabase.com:5432/postgres"
SUPABASE_URL="<your-supabase-url>"
SUPABASE_ANON_KEY=<your-supabase-anon-key>
SUPABASE_SERVICE_ROLE_KEY=<your-supabase-service-role-key>